*.ipynb_checkpoints*
data
runs
storage/*
.DS_Store
.idea/*

!storage/dataset
storage/dataset/*
!storage/dataset/train_v0.csv
!storage/dataset/train.csv
!storage/dataset/test.csv
!storage/dataset/sample_submission.csv